<h1>Orders List</h1>

<table>
    <thead>
        <td>Id</td>
        <td>Status</td>
        <td>Coffee Type</td>
        <td>Milk Type</td>

        <td>With Milk</td>
        <td>size</td>
        <td>Price</td>
        <td>Change Status</td>
    </thead>
    <tr *ngFor="let order of list">
        <td>{{order.id}}</td>
        <td>{{order.status}}</td>
        <td>{{order.coffeeType}}</td>
        <td>{{order.milkType}}</td>
        <td>{{order.withMilk}}</td>
        <td>{{order.size}}</td>
        <td>{{order.price}}</td>
        <td>
            <button *ngIf="order.status!='Completed'" mat-raised-button
                (click)="changeStatus('Completed',order.id,order)">completed</button>
            <button *ngIf="order.status!='Completed'&&order.status!='Canceled'" mat-raised-button
                (click)="changeStatus('Canceled',order.id,order)">canceled</button>
            <button *ngIf="order.status!='Processing'&&order.status!='Completed'" mat-raised-button
                (click)="changeStatus('Processing,order.id',order)">processing</button>

        </td>
    </tr>
</table>