/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  font-family: "Cairo", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  border: 1px solid #ddd;
}
table td {
  height: 30px;
  padding-right: 5px;
}
table th {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: right;
  color: black;
}
table {
  width: 100%;
}
